<!-- 

	# Copyright (C) 2017 Eduardo Nacimiento García <enacimie@ull.edu.es>
	This file is part of TinyULL.

    TinyULL is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TinyULL is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
	
-->



<div class="form-group">
    &nbsp;
</div>
<p class="small">
  <a href="https://www.ull.es"><img src="/images/ull.png" style="height: 80px;"/></a>
<!-- &nbsp;
<a href="https://osl.ull.es"><img src="/images/OSL.png"/></a>--><br>
    Desarrollado por <a href="http://gitlab.com/mencey">Eduardo Nacimiento</a><br>
    Licenciado bajo <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGLPv3</a> se puede 
	<a href="http://gitlab.com/mencey/tinyull2">descargar libremente</a>
</p>

</div>

</body>

</html>
